.cards{
    position: relative;
    box-shadow: 5px 8px;
    display: flex;
    margin:  20px 10px ;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    width: 300px;
    height: 400px;
    img{
        max-width: 150px;
        max-height: 150px;
        margin: 0 auto;
    }
    .cardtitle{
        text-align: left;
        margin-left: 10px;
    }
    .carddescription{
        text-align: left;
        margin: 5px 10px -5px ;
        p{
          
            resize: horizontal;
            display: -webkit-box;
            max-width: 300px;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            // text-overflow: ellipsis;
            // overflow: hidden; 
             height: 90px;
            // max-width: 300px; 
            // resize: horizontal;
            // white-space:nowrap;
            // -webkit-line-clamp: 4;
            // -webkit-box-orient: vertical;
            // display: webkit-box;
        }
    }
    button{
        position:static;
        margin: 0 auto;
        width: 80%;
        height: 30px;
        background-color: tomato;
        border-radius: 10px;
        font-style:italic;
        font-weight: bold;
    }
}